<h2>
    We played rock!
  </h2>

<h2>
  They played <%= @computer_choice %>!
</h2>

<h2>
  <%= @outcome %>
</h2>

<p> 
  <a href=https://miniature-sniffle-vw7jp7ggvgq3v55-3000.app.github.dev/>Rules</a>
<p>
